.container {
    width: 90%;
    margin: auto;
}

mat-spinner {
    margin: 10rem auto;
}

.gallery, .details, .card {
    height: 420px;
    margin: 3rem 1rem;
}

.gallery {
    width: 780px;
}

.details {
    width: 200px;
}

