<mat-card>
  <h2>{{ hostess?.name }}</h2>
  <mat-spinner *ngIf="(thumb$ | async)? false: true" diameter="70" color="accent"></mat-spinner>
  <img mat-card-image [src]="thumb$ | async" alt="Hostess thumb photo">
  <mat-card-content>
    <p>
      Info
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>DETAILS</button>
  </mat-card-actions>
</mat-card>

<!-- <mat-chip-list>
  <mat-chip *ngFor="let work of workRange" color="accent" selected="true">{{ work }}</mat-chip>
</mat-chip-list> -->