mat-spinner {
    margin: 10rem auto;
}

mat-card {
    height: 420px;
    width: 40vw;
}

.details {
    width: 15vw;
    max-width: 250px;
}

mat-chip {
    text-align: center;
}

.langs {
    margin-top: 2rem;
}
