<div class="container" fxFlex="70%" fxLayout="column" fxLayoutAlign="center center">
  <h1>Who are you?</h1>
    <div fxLayout="row">
      <mat-card fxFlex="40%" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>
            EMPLOYEE
          </mat-card-title>
          <img mat-card-image src="./assets/img/hostess.jpg">	
          <mat-card-content>
            GET YOURSELF FOUND
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent"  routerLink="/newemployee">REGISTER</button>
          </mat-card-actions>	
      </mat-card>
      <span fxFlex></span>
      <mat-card fxFlex="40%" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>
            CLIENT
          </mat-card-title>
          <img mat-card-image src="./assets/img/business.jpg">	
          <mat-card-content>
            FIND THE RIGHT PEOPLE FOR YOUR EVENT
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="accent" routerLink="/newclient">REGISTER</button>
          </mat-card-actions>	
      </mat-card>
    </div>	
  </div>