mat-card {
    width: 80%;
    margin: 2rem auto;
    height: 65vh;
}

mat-checkbox {
    margin: 2rem;
}

button {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}

mat-spinner {
    margin: auto;
}

.tc {
    overflow: auto;
    max-height: 50vh;
}