mat-card {
    width: 80%;
    margin: 2rem auto;
    height: 75vh;
}

button {
    margin: auto;
    width: 80%;
}

mat-spinner {
    margin: auto;
}

mat-radio-group {
    margin: .5rem auto 2rem auto;
}

mat-radio-button {
    margin-right: 1rem;
}

.tc {
    overflow: auto;
    max-height: 50vh;
}